.searchBar {
	align-items: center;
	background-color: #f5f5f5;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	overflow: hidden;
	padding: 10px;
	width: 100%;
}

.searchInput {
	border: 1px solid peru;
	height: 50px;
	width: 75%;
	margin-bottom: 15px;
}

.searchWrapper {
	display: flex;
	flex-direction: row;
	overflow-x: scroll;
	width: 100%;
}

.noResults {
	color: #ff0000;
	font-size: 20px;
	font-weight: bold;
	margin-top: 10px;
	text-align: center;
	width: 100%;
}
