.searchBar {
	align-items: center;
	background-color: #f5f5f5;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	overflow: hidden;
	padding: 10px;
	width: 100%;
}

.searchInput {
	font-size: 1.2em;
	padding: 10px;
	margin: 0 25px;
	width: 80%;
}

.inputWrapper {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100%;
}

.inputWrapper > input {
	border: none;
	height: 40px;
	width: 100%;
	padding: 0 10px;
	font-size: 16px;
}
.inputWrapper > .loading {
	position: absolute;
	top: 0;
	right: 40px;
}

.searchStatus {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 30px;
	width: 100%;
}

.searchResultWrapper {
	display: flex;
	flex-direction: row;
	overflow-x: scroll;
	width: 100%;
}

.noResults {
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	width: 100%;
}
